:root {
    --primario: #000312;
    --secundario: #ffc845;
    --negro: #000000;
    --derecha: #12027b;
    --claro: #ffffff;
    --gris: #eeeeee;
    --oscuro: #57a42b;
    --padding: .5rem;
    --paddingt: 2rem;
    --azul: #14318a;
}

.logo{
    color: var(--claro);
}

body {
    background-color: var(--gris);
    font-family: 'Lora', sans-serif;
}
/* Globales */
img {
    max-width: 100%;
}
p {
    line-height: 1.8rem;
    font-size: 1rem;
    font-weight: 300;
}

h1,h2,h3,h4 {
    font-weight: 300;
    margin: 1rem 0 1rem 0;
     font-family: 'Libre Baskerville', serif;
}
h1 {
    font-size: 2.4rem;
}
h2 {
    font-size: 2.2rem;
}

a{
    text-decoration: none;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

/* Header */
.header {
    margin-top: 0rem;
    padding: var(--padding);
    background: linear-gradient(to right, var(--negro), var(--azul));
}
.header .contenedor{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 3rem;
    justify-content: center;
}
.header .menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
    justify-content: center;
}
@media (min-width:992px) {
    .header .contenedor {
        grid-template-columns: 30% 1fr 30%;
        justify-content: space-around;
        grid-row-gap: unset;
    }
    .header .nombre-sitio {
        grid-column: 1 / 3;
    }
    .header .menu {
        grid-column: 3/ 4;
        text-align: right;
        display: grid;
        align-content: center;
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    }
}

.header .menu a {
    color: var(--claro);
    text-decoration: none;
    font-size: 1.2rem;
}

nav {
  display: flex;
  height: 60px; /* non-essential; for demo only */
}

/* non-essential; for demo only */
.link {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--claro);
}


.publicidad{
    text-align: right;
     padding: 1rem;
}

.imganuncio{
    /*max-height: 15rem;*/
    margin-bottom: 10px;
}

/** Nosotros **/
.nosotros {
    margin-top: 2rem;
    text-align: center;
}
@media (min-width: 768px) {
    .nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        text-align: left;
    }
}
.contenido-nosotros {
    align-content: center;
    display: grid;
}
.contenido-nosotros h2{
    font-size: 3rem;
    font-weight: 300;
}


/* noticias */
.noticias {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1rem;
}
.noticias img {
    width: 100%;
}

/*Retina iPad in landscape (ipad 3) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .noticias {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}

/*Retina iPad in portrait (ipad 3) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
    .noticias {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}

@media (min-width:700px) {
    .noticias {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}

@media (min-width:1360px) {
    .noticias {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    
    .destacada {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }  
}


.card {
    background-color: var(--claro);
    padding: var(--padding);
    /*border:1px solid #AAA;*/
    box-shadow: 0 1px 10px rgba(0,0,0,0.15);
    h3{
    text-align: center;
    font-size: .9rem;
    line-height: 1.4rem;
    }
}


.anuncio {
    display: grid;
    overflow:hidden;  
}

.anuncio .precio {
    font-size: .8rem;
    font-weight: 400;
}

.titulo{
    font-size: 22px;
    font-family: 'Lora', sans-serif;
}

.descripcion{
     font-size: 14px;
    font-family: 'Lora', sans-serif;
}

.precio span {
    font-weight: 300;
    color: var(--primario);
}
.boton {
    background: var(--negro);
    display: block;
    padding: var(--padding);

    text-align: center;
    color: var(--claro);
    text-decoration: none;
    border: 1px solid var(--primario);
    transition: all .3s ease;
}

.boton:hover {
    border: 1px solid var(--primario);
    background: var(--claro);
    color: var(--negro);
}

.z-hover{
  transition: all 0.2s ease;
}
.z-hover:hover{
  /*box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.3);*/
  transform: scale(1.05);
  opacity: 0.8;
}

/* Footer */
.footer {
   
    background: var(--negro);
    padding-top: var(--paddingt);
    margin-top: 2rem;
    color: var(--claro);
}

@media (min-width:768px) {
    .footer .contenedor {
        display: grid;
        grid-template-columns: 30% 20% 2fr;
        grid-column-gap: 2rem;
    }
}

.footer .navegacion a {
    display: block;
    color: var(--claro);
    text-decoration: none;
    margin-bottom: 1rem;
}

.footer .contenedor-casas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, auto);
}

.footer .contenedor-casas .casa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,auto);
    grid-gap: 2rem;
}
.footer .contenedor-casas .casa p {
    margin: 0;
}
.copyright {
    /*background-color: var(--gris);*/
    margin: 0;
    text-align: center;
    padding: 1rem;
}

.contenedor2 {
    max-width: 1100px;
    margin: 0 auto;
}

.contenido-principal{
    background-color: white;
}



/** Contenido Principal**/

main > section {
    margin-bottom: 2rem;
}

.contenedor-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr) );
    padding: 10px 15px;
    grid-gap: 20px;
}

.card2 img {
    width: 100%;
}


/** Populares **/
.destinos .contenedor-cards {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr) );
    padding: 10px 15px;
    height: 70vh; 
}

/** Principal **/
.principal {
    margin-top: 6rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;    
    grid-gap: 2rem;
    padding-left: 1rem;
}

/* iPhone 6-8 landscape */
@media (min-width:667px) 
and (orientation : landscape){

    .principal {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-column-gap: .6rem;
    }
}


@media (min-width:700px) {
    .principal {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-column-gap: 2rem;
    }
    .principal .card .info .titulo0 {
        font-size:     font-size: 2em;;
        color: var(--claro);
        font-family: 'Lora', sans-serif;
        margin-bottom: 10px;
    }
    .principal .card .info .titulo {
        font-size: 8px;
        color: var(--claro);
        font-family: 'Lora', sans-serif;
        margin-bottom: 5px;
    }
}

@media (min-width:1024px) {
    .principal .card .info .titulo0 {
        font-size: 21.6px;
        color: var(--claro);
        margin-bottom: 10px;
    }
    .principal .card .info .titulo {
        font-size:16px;
        color: var(--claro);
        font-family: 'Lora', sans-serif;
        margin-bottom: 10px;
    }
}

.zone {
    cursor:pointer;
    display:inline-block;
    text-align: center;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.banner{
    margin-top: 5.5rem;
    padding: 1rem;
    display: flex;
    justify-content:space-around; 
}

.banner >div{
   padding: 0rem 1rem 0rem 1rem;
}

.container{
    margin-top: 1rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
}
@media (min-width:700px) {     
     .container{
        margin-top: 1.5rem;
        display: grid;
        grid-gap: 10px;       
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    .green{
        grid-column: span 2;
        grid-row: 1/3;
    }
}
@media (min-width:1024px) {     
     .container{
        margin-top: 1.5rem;
        display: grid;
        grid-gap: 10px;       
        grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
        grid-template-rows: 1fr;
    }
}




.zone2 {
    cursor:pointer;
    display:inline-block;
    text-align: center;
    /*font-size:10em;*/
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
    min-height: 10rem;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.zone2:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background-image: url("../img/index-011.jpg");
     background-blend-mode: soft-light;
    background-size: cover;
  background-position: center center;
  padding: 2rem;
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background-image: url("../img/index-022.jpg");
     background-blend-mode: soft-light;
    background-size: cover;
  background-position: center center;
  padding: 2rem;
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background-image: url("../img/index-033.jpg");
     background-blend-mode: soft-light;
    background-size: cover;
  background-position: center center;
  padding: 2rem;
}

.fondo {
   color: var(--claro);
   font-size: 2rem;
}

/*FACEBOOK*/
.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
}